<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" type="image/x-icon" href="../img/logo-tab.jpg" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../output.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../wow/animate.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Virtual VKU</title>
  </head>

  <body>
    <div>
      <div
        class="root font-Karla max-w-screen-2xl text-base mx-auto md:px-8 bg-white font-medium"
      >
        <!-- Header -->
        <div
          class="header py-6 mx-auto fixed top-0 bg-white left-0 right-0 z-50 shadow-xl"
        >
          <div class="nav flex flex-row justify-between items-center relative">
            <div
              class="logo basic-2/6 text-center text-3xl cursor-pointer px-7 lg:px-24"
            >
              <a class="flex flex-col justify-center items-center" href="/">
                <div class="font-semibold text-lime-500">Virtual</div>
                <div class="flex flex-row">
                  <div class="uppercase font-black text-red-600">v</div>
                  <div class="uppercase font-black text-yellow-400">k</div>
                  <div class="uppercase font-black text-blue-600">u</div>
                </div>
              </a>
            </div>

            <!-- navigation -->

            <ul
              id="nav-menu"
              class="hidden basis-3/6 lg:flex lg:justify-end lg:gap-9 uppercase text-sm text-gray-500"
            >
              <li
                class="cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300 cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300-active"
              >
                <a href="/">home</a>
              </li>
              <li
                id="digitial-map"
                class="cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300 relative group"
              >
                <span>digital map <i class="fa-solid fa-angle-down"></i></span>
                <div
                  id="selection"
                  class="suv-menu absolute shadow-xl bg-white w-[130px] top-9 hidden group-hover:block"
                >
                  <ul class="mx-3">
                    <li
                      class="cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300 text-gray-500"
                    >
                      <a href="/2Dmap">2D Map</a>
                    </li>
                    <li
                      class="cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300 text-gray-500"
                    >
                      <a href="/3DMap">3D Map</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li
                class="cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300"
              >
                <a href="/events">Events</a>
              </li>
              <li
                class="cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300"
              >
                <a href="/blogs">blog</a>
              </li>
              
              <!-- <li class="cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute 
    lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full 
    lg:after:transition-all lg:after:ease-in-out lg:after:duration-300 cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute 
    lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full 
    lg:after:transition-all lg:after:ease-in-out lg:after:duration-300-active">
                            <a href="https://github.com/dangnha" target="blank">dangnha</a>
                        </li> -->
            </ul>

            <!-- User -->
          
            <div id="user" class="basis-2/6 lg:basis-1/6 hover:cursor-pointer">
             
              <div>
                <% if (user) { %>
                  <div class="w-12 h-12 bg-black rounded-full"></div>
                <div
                  id="user-interface"
                  class="hidden w-[200px] h-[120px] bg-white absolute top-14 shadow-inner"
                >
                  <div class="px-3 py-3">
                    <span><%= user.email %></span>
                  </div>
                  <hr />
                  <div class="text-sm font-normal">
                    <div
                      class="text-sm px-3 py-2 font-normal hover:bg-slate-200"
                    >
                    <a href="/blogs/<%=user._id%>"><span>Profile</span></a>
                    </div>
                    <div
                      class="logout px-3 py-2 flex gap-1 items-center hover:bg-slate-200"
                    >
                    <a href="/logout"><span>Logout</span></a>
                      <i class="fa-sharp fa-solid fa-right-to-bracket"></i>
                    </div>
                  </div>
                </div>
                <% } else { %>
                <div class="flex flex-row gap-2">
                  <div class="px-2 py-1 bg-black text-white hover:bg-gray-200 hover:text-black"><a href="/login">Login</a></div>
                  <div class="px-2 py-1 bg-black text-white hover:bg-gray-200 hover:text-black"><a href="/signup">SignUp</a></div></div>
                <% } %>
                </div>
                
              </div>
            </div>

            <!-- Menu hidden -->
            <div
              class="menu-hidden p-3 basis-1/6 lg:hidden md:px-5 flex items-center cursor-pointer"
            >
              <svg
                id="nav-menu-toggle"
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </div>
          </div>
        </div>

        <!-- Body page -->
        <div id="body-page" class="mt-[150px] mb-[120px] flex flex-row gap-20 ml-16">
          <div class="text-black font-semibold flex flex-col gap-3">
            <div class="basis-[40%]">
              <img
                class="object-cover w-[400px] h-[400px] rounded-full"
                src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t39.30808-6/320935744_5506417392803368_4952738920705325237_n.jpg?stp=dst-jpg_s1080x2048&_nc_cat=101&ccb=1-7&_nc_sid=5cd70e&_nc_ohc=DFTaI7aK4xgAX8p_JHZ&_nc_ht=scontent.fsgn2-4.fna&oh=00_AfCm-j4zWLXOjs-8ee6Ajj41fNjugdxTbUO_M2j8gdpwqw&oe=63A65DE4"
                alt=""
              />
            </div>
            <%if (user) {%>
            <div><%= user.email%></div>
            <% } %>
            <div
              class="py-2 border-2 text-center border-solid border-green-600"
            >
              Edit profile
            </div>
            <div>Your blog: <%- x.length%></div>
          </div>
          <div class="basis-[60%] flex flex-col gap-8 mr-5">
            <div class="flex flex-row gap-3">
              <input
                class="basis-[80%] py-2 px-2 focus:outline-none border-solid border-2 border-green-500 rounded-md"
                type="text"
                placeholder="Your Blog"
              />
              <button class="basis-[20%] text-white bg-black">
                <a class="py-2 px-8" href="/addblog">New</a>
              </button>
            </div>
            <div class="grid grid-cols-2 gap-4 overflow-auto h-[520px]">
              <% x.forEach((y)=> { %>
              <div class="blogItem w-full md:basis-1/2 flex flex-col items-start">
                
                <form action="/profile/<%=y._id%>" method="get">
                  <button class="blogItem max-w-[370px] mx-auto mb-10 flex flex-col items-start" type="submit">
                    <div
                    class="rounded overflow-hidden hover:animate-pulse 
                    hover\:cursor-pointer mb-4 md:h-[250px] h-[200px] w-[275px] 
                    md:w-[380px] object-cover"
                    >
                    <img 
                      src="http://localhost:5000/<%=y.blogImage%>" 
                      alt="">
                    </div>
                    <div class="flex flex-col items-start">
                    <div
                      class="bg-[#00CC99] rounded inline-block text-center py-1 px-4 text-xs leading-loose font-semibold text-white mb-2"
                    >
                      <%=y.createUpdate%>
                    </div>
                    <div>
                      <a
                        href="javascript:void(0)"
                        class="font-semibold text-xl sm:text-2xl lg:text-xl xl:text-2xl mb-4 inline-block text-dark hover:text-[#00CC99]"
                      >
                        <%=y.name%>
                      </a>
                    </div>
                    <div>
                    <i class="text-base text-body-color">
                      <%=y.description%>
                    </i>
                    </div>
                    <!-- <p class="text-base text-body-color"><%=y.content%></p> -->
                    </div>
                  </button>
                </form>


                <div class="button flex flex-row gap-4 ml-4 text-center">
                  <a href="">
                  <button
                    type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                  >
                    Edit
                  </button>
                </a>
                  <form action="/blogs/delete" method="post">
                    <input type="hidden" name="_id" value="<%=y._id %>" />
                    <button
                      class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
                    >
                      Delete
                    </button>
                  </form>
                </div>
              </div>
              <% }) %>
            </div>
          </div>
        </div>

        <!-- footer -->

        <div class="footer w-full h-[350px] bg-white wow">
          <hr class="my-5">
          <div
            class="flex md:flex-row flex-col lg:gap-28 gap-8 xl:w-[65%] w-90% mx-auto"
          >
            <div class="basis-5/7 flex flex-col">
              <div class="text-xl mb-4 font-bold text-center lg:text-left">
                Vietnam Korea University of information and communication
                technology
              </div>
              <div
                class="text-sm mb-12 text-gray-500 opacity-90 text-center lg:text-left"
              >
                <i class="fa-solid fa-location-dot"></i>
                <span class="pl-1"
                  >470 Đường Trần Đại Nghĩa, Hoà Hải, Ngũ Hành Sơn, Đà
                  Nẵng.</span
                >
              </div>
              <div
                class="text-sm text-center lg:text-left mb-4 text-gray-500 opacity-90 leading-7 hover:text-lime-400"
              >
                University in Vietnam
              </div>
            </div>
            <div class="basis-1/7">
              <div
                class="uppercase text-sm text-center lg:text-left text-gray-600 mb-4"
              >
                MENU
              </div>
              <ul class="flex flex-col gap-2">
                <li
                  class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
                >
                  <a href="/">Home</a>
                </li>
                <li
                  class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
                >
                  <a href="/map">Digital Map</a>
                </li>
                <li
                  class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
                >
                  <a href="/events">Events</a>
                </li>
                <li
                  class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
                >
                  <a href="/blogs">Blogs</a>
                </li>
                
              </ul>
            </div>
            <div class="basis-1/7 text-sm text-gray-400">
              <div
                class="uppercase text-sm text-center lg:text-left text-gray-600 mb-2"
              >
                units
              </div>
              <ul class="flex flex-col justify-center items-center">
                <li class="max-h-[150px] max-w-[150px]">
                  <a href="https://vku.udn.vn/" target="blank"
                    ><img src="../uploads/img/logo-tab.jpg" alt=""
                  /></a>
                </li>
                <li class="">
                  <div
                    class="logo basic-2/6 text-center text-3xl cursor-pointer"
                  >
                    <a
                      class="flex flex-col justify-center items-center"
                      href="/"
                    >
                      <div class="font-semibold text-lime-500">Virtual</div>
                      <div class="flex flex-row">
                        <div class="uppercase font-black text-red-600">v</div>
                        <div class="uppercase font-black text-yellow-400">
                          k
                        </div>
                        <div class="uppercase font-black text-blue-600">u</div>
                      </div>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="basis-1/7">
              <div
                class="uppercase text-sm text-center lg:text-left text-gray-600 mb-4"
              >
                CONTACT US
              </div>
              <div
                class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400 mb-4"
              >
                We’re Always Happy to Help
              </div>
              <div
                class="text-xl text-center lg:text-left text-black leading-7 hover:text-lime-400 mb-16"
              >
                <a href="">nhand.21it@vku.udn.vn</a>
              </div>
              <div
                class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
              >
                Powered by Pencil group
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./wow/wow.min.js" type="text/javascript"></script>
    <script>
      new WOW().init();
    </script>
    <script>
      // alert('Welcome to my website')

      const topMenu = document.getElementById("nav-menu");
      const toggleTopMenuIcon = document.getElementById("nav-menu-toggle");

      document.addEventListener("click", (e) => {
        if (toggleTopMenuIcon.contains(e.target)) {
          topMenu.classList.toggle("hidden");
          topMenu.classList.toggle("top-menu-expanded");
        } else {
          if (topMenu.classList.contains("top-menu-expanded")) {
            topMenu.classList.remove("top-menu-expanded");
            topMenu.classList.add("hidden");
          }
        }
      });

      var userAvt = document.getElementById("user");

      var userIn = document.getElementById("user-interface");

      document.addEventListener("click", (e) => {
        if (userAvt.contains(e.target)) {
          userIn.classList.toggle("hidden");
          userIn.classList.toggle("block");
        } else {
          if (userIn.classList.contains("block")) {
            userIn.classList.remove("block");
            userIn.classList.add("hidden");
          }
        }
      });

      var maps = document.getElementById("digitial-map");

      var slMap = document.getElementById("selection");

      document.addEventListener("click", (e) => {
        if (maps.contains(e.target)) {
          slMap.classList.toggle("hidden");
          slMap.classList.toggle("block");
        } else {
          if (slMap.classList.contains("block")) {
            slMap.classList.remove("block");
            slMap.classList.add("hidden");
          }
        }
      });
    </script>
  </body>
</html>
