<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" type="image/x-icon" href="../uploads/logo-tab.jpg" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./wow/animate.css" />

    <title>Virtual VKU</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- <div class="">
      <ul>
        <% if (user) { %>
        <li>Welcome <%= user.email %> !</li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/user">User</a></li>
        <li><a href="/addevent">Add Event</a></li>
        <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">SignUp</a></li>

        <% } %>
      </ul>
    </div> -->
    <div>
      <div
        class="root font-Karla max-w-screen-2xl text-base mx-auto md:px-8 bg-white font-medium"
      >
        <!-- Header -->
        <div
          class="header py-6 mx-auto fixed top-0 bg-white left-0 right-0 z-50 shadow-xl"
        >
          <div class="nav flex flex-row justify-between items-center relative">
            <div
              class="logo basic-2/6 text-center text-3xl cursor-pointer px-7 lg:px-24"
            >
              <a class="flex flex-col justify-center items-center" href="/">
                <div class="font-semibold text-lime-500">Virtual</div>
                <div class="flex flex-row">
                  <div class="uppercase font-black text-red-600">v</div>
                  <div class="uppercase font-black text-yellow-400">k</div>
                  <div class="uppercase font-black text-blue-600">u</div>
                </div>
              </a>
            </div>

            <!-- navigation -->

            <ul
              id="nav-menu"
              class="hidden basis-3/6 lg:flex lg:justify-end lg:gap-9 uppercase text-sm text-gray-500"
            >
              <li
                class="cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300 cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300-active"
              >
                <a href="/">home</a>
              </li>
              <li
                id="digitial-map"
                class="cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300 relative group"
              >
                <span>digital map <i class="fa-solid fa-angle-down"></i></span>
                <div
                  id="selection"
                  class="suv-menu absolute shadow-xl bg-white w-[130px] top-9 hidden group-hover:block"
                >
                  <ul class="mx-3">
                    <li
                      class="cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300 text-gray-500"
                    >
                      <a href="/map">2D Map</a>
                    </li>
                    <li
                      class="cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300 text-gray-500"
                    >
                      <a href="/map3d">3D Map</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li
                class="cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300"
              >
                <a href="/events">Events</a>
              </li>
              <li
                class="cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full lg:after:transition-all lg:after:ease-in-out lg:after:duration-300"
              >
                <a href="/blogs">blog</a>
              </li>
              
              <!-- <li class="cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute 
    lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full 
    lg:after:transition-all lg:after:ease-in-out lg:after:duration-300 cursor-pointer py-2 hover:text-gray-900 relative lg:after:absolute 
    lg:after:bottom-0 lg:after:left-0 lg:after:bg-lime-400 lg:after:h-0.5 lg:after:w-0 hover:lg:after:w-full 
    lg:after:transition-all lg:after:ease-in-out lg:after:duration-300-active">
                            <a href="https://github.com/dangnha" target="blank">dangnha</a>
                        </li> -->
            </ul>

            <!-- User -->
          
            <div id="user" class="basis-2/6 lg:basis-1/6 hover:cursor-pointer">
             
              <div>
                <% if (user) { %>
                  <div class="w-12 h-12 bg-black rounded-full"></div>
                <div
                  id="user-interface"
                  class="hidden w-[200px] h-[120px] bg-white absolute top-14 shadow-inner"
                >
                  <div class="px-3 py-3">
                    <span><%= user.email %></span>
                  </div>
                  <hr />
                  <div class="text-sm font-normal">
                    <div
                      class="text-sm px-3 py-2 font-normal hover:bg-slate-200"
                    >
                    <a href="/blogs/<%= user._id%>"><span>Profile</span></a>
                    </div>
                    <div
                      class="logout px-3 py-2 flex gap-1 items-center hover:bg-slate-200"
                    >
                    <a href="/logout"><span>Logout</span></a>
                      <i class="fa-sharp fa-solid fa-right-to-bracket"></i>
                    </div>
                  </div>
                </div>
                <% } else { %>
                <div class="flex flex-row gap-2">
                  <div class="px-2 py-1 bg-black text-white hover:bg-gray-200 hover:text-black"><a href="/login">Login</a></div>
                  <div class="px-2 py-1 bg-black text-white hover:bg-gray-200 hover:text-black"><a href="/signup">SignUp</a></div></div>
                <% } %>
                </div>
                
              </div>
            </div>

            <!-- Menu hidden -->
            <div
              class="menu-hidden p-3 basis-1/6 lg:hidden md:px-5 flex items-center cursor-pointer"
            >
              <svg
                id="nav-menu-toggle"
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </div>
          </div>
        </div>

        <!-- Body page -->
        <div id="body-page" class="mb-[120px] relative">
          <div
            id="bg-vanta"
            class="h-[100vh] w-[100vw] left-[calc(-50vw_+_50%) md:-ml-8"
          ></div>
          <div
            class="absolute w-full text-center text-white items-center uppercase top-[49vh]"
          >
            <span class="text-5xl font-semibold"
              >Welcome to VKU's events page</span
            >
          </div>
          <script
            src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r120/three.min.js"
            integrity="sha512-kgjZw3xjgSUDy9lTU085y+UCVPz3lhxAtdOVkcO4O2dKl2VSBcNsQ9uMg/sXIM4SoOmCiYfyFO/n1/3GSXZtSg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
          ></script>
          <script
            src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.18/vanta.birds.min.js"
            integrity="sha512-8/woRaNDhf91n0EQkxRZSmbhurqmwWJUwAcCU+inYG1JoDCaFZBThdD+KU6ZwEU5WhwArjccWrjR+AuRAxc6ZA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
          ></script>
          <script type="text/javascript">
            VANTA.BIRDS({
              el: "#bg-vanta",
              mouseControls: true,
              touchControls: true,
              gyroControls: false,
              minHeight: 200.0,
              minWidth: 200.0,
              scale: 1.0,
              scaleMobile: 1.0,
            });
          </script>
          <!-- break page -->
          <div class="my-16 flex justify-center items-center">
            <div class="page-break__line"></div>
            <div class="text-xs mx-4 uppercase leading-4 text-center font-medium tracking-widest text-stone-500">vku's events</div>
            <div class="page-break__line"></div>
          </div>

          <!-- club & groups in vku-->
          <div class="feature-mugs w-[90%] xl:w-[75%] mx-auto mb-24">
            <div
              class="ndn-clubs grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8 pb-14"
            >
                <% x.forEach((y)=> { %>
                <div class="container items-center flex justify-around flex-col bg-black rounded-xl text-white items-start">
                  
                  <div class="imageDiv flex justify-center">
                    <img
                      class="w-[400px] h-[200px] rounded-t-xl object-cover"
                      src="http://localhost:5000/<%=y.eventImage%>"
                      alt="anh da bi an"
                    />
                  </div>
                  <div class="date mt-2 py-[5px] px-[10px] rounded-lg text-sm bg-red-500 text-white inline-block ">
                    <p><%=y.createUpdate%></p>
                  </div>
                  
                    <div class="nameEvent px-3 uppercase text-2xl line-height-1 font-bold">
                      <a href="#"><%=y.name%></a>
                    </div>
                    <div class="postedBy text-md text-gray-300 font-semibold">
                      <a href=""><%=y.locateAt%></a>
                    </div>
                    
                    <div class="typeEvent my-4 w-[90%] bg-[#3a3b3c] rounded-lg text-center py-2 text-md border-2 border-[#3a3b3c] border-solid">
                      <a href="#"><%=y.eventType%></a>
                    </div>
                </div>
        
                <% }) %>
              </div>

        
            
            </div>
          </div>

          <!-- background const -->
          <div
            class="parallax-bg h-[400px] mb-24 bg-fixed bg-[url(../uploads/img/overview.jpg)] bg-cover bg-no-repeat bg-center w-[100vw] relative left-[calc(-50vw_+_50%)]"
          ></div>
        </div>

        <!-- footer -->

        <div class="footer w-full h-[350px] bg-white wow">
          <div
            class="flex md:flex-row flex-col lg:gap-28 gap-8 xl:w-[65%] w-90% mx-auto"
          >
            <div class="basis-5/7 flex flex-col">
              <div class="text-xl mb-4 font-bold text-center lg:text-left">
                Vietnam Korea University of information and communication
                technology
              </div>
              <div
                class="text-sm mb-12 text-gray-500 opacity-90 text-center lg:text-left"
              >
                <i class="fa-solid fa-location-dot"></i>
                <span class="pl-1"
                  >470 Đường Trần Đại Nghĩa, Hoà Hải, Ngũ Hành Sơn, Đà
                  Nẵng.</span
                >
              </div>
              <div
                class="text-sm text-center lg:text-left mb-4 text-gray-500 opacity-90 leading-7 hover:text-lime-400"
              >
                University in Vietnam
              </div>
            </div>
            <div class="basis-1/7">
              <div
                class="uppercase text-sm text-center lg:text-left text-gray-600 mb-4"
              >
                MENU
              </div>
              <ul class="flex flex-col gap-2">
                <li
                  class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
                >
                  <a href="/">Home</a>
                </li>
                <li
                  class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
                >
                  <a href="/map">Digital Map</a>
                </li>
                <li
                  class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
                >
                  <a href="/events">Events</a>
                </li>
                <li
                  class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
                >
                  <a href="/blogs">Blogs</a>
                </li>
                
              </ul>
            </div>
            <div class="basis-1/7 text-sm text-gray-400">
              <div
                class="uppercase text-sm text-center lg:text-left text-gray-600 mb-2"
              >
                units
              </div>
              <ul class="flex flex-col justify-center items-center">
                <li class="max-h-[150px] max-w-[150px]">
                  <a href="https://vku.udn.vn/" target="blank"
                    ><img src="../uploads/img/logo-tab.jpg" alt=""
                  /></a>
                </li>
                <li class="">
                  <div
                    class="logo basic-2/6 text-center text-3xl cursor-pointer"
                  >
                    <a
                      class="flex flex-col justify-center items-center"
                      href="/"
                    >
                      <div class="font-semibold text-lime-500">Virtual</div>
                      <div class="flex flex-row">
                        <div class="uppercase font-black text-red-600">v</div>
                        <div class="uppercase font-black text-yellow-400">
                          k
                        </div>
                        <div class="uppercase font-black text-blue-600">u</div>
                      </div>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="basis-1/7">
              <div
                class="uppercase text-sm text-center lg:text-left text-gray-600 mb-4"
              >
                CONTACT US
              </div>
              <div
                class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400 mb-4"
              >
                We’re Always Happy to Help
              </div>
              <div
                class="text-xl text-center lg:text-left text-black leading-7 hover:text-lime-400 mb-16"
              >
                <a href="">nhand.21it@vku.udn.vn</a>
              </div>
              <div
                class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
              >
                Powered by Pencil group
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./wow/wow.min.js" type="text/javascript"></script>
    <script>
      new WOW().init();
    </script>
    <script>
      // alert('Welcome to my website')

const topMenu = document.getElementById('nav-menu');
const toggleTopMenuIcon = document.getElementById('nav-menu-toggle');

document.addEventListener('click', (e) => {
    if (toggleTopMenuIcon.contains(e.target)) {
        topMenu.classList.toggle('hidden')
        topMenu.classList.toggle('top-menu-expanded')
    } else {
        if (topMenu.classList.contains('top-menu-expanded')) {
            topMenu.classList.remove('top-menu-expanded')
            topMenu.classList.add('hidden')
        }
    }
})

var userAvt = document.getElementById('user');

var userIn = document.getElementById('user-interface')


document.addEventListener('click', (e) => {
    if (userAvt.contains(e.target)) {
        userIn.classList.toggle('hidden')
        userIn.classList.toggle('block')
    } else {
        if (userIn.classList.contains('block')) {
            userIn.classList.remove('block')
            userIn.classList.add('hidden')
        }
    }
})

var maps = document.getElementById('digitial-map');

var slMap = document.getElementById('selection')


document.addEventListener('click', (e) => {
    if (maps.contains(e.target)) {
        slMap.classList.toggle('hidden')
        slMap.classList.toggle('block')
    } else {
        if (slMap.classList.contains('block')) {
            slMap.classList.remove('block')
            slMap.classList.add('hidden')
        }
    }
})
    </script>
  </body>
</html>
